!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title John Fuller | Front End Designer
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "https://storage.googleapis.com/coab-assets/images/me.jpg", :property => "og:image"}/
    %meta{:content => "image/png", :property => "og:image:type"}/
    %meta{:content => "750", :property => "og:image:width"}/
    %meta{:content => "750", :property => "og:image:height"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_pack_tag 'application'
  %body{"data-action" => "#{controller.action_name}", "data-controller" => "#{controller.controller_path}"}
    =render "shared/leftColumn"
    %section.left-col-proxy
    %section.right-column
      = yield

    .footer-contact-info
      %h6.email johnsfuller@gmail.com
      %h6.phone-number 202-681-8640
